## Heroku Deployment Demo - AI in Enterprise (AIDI - 2004 - 02)

#### <font color='black'>LAB Assignment #4 - Heroku</font>

**Submitted By : Sourabh Potdar**  
**Student No: 100844478**

**<font color='blue'>Independent Variables:</font>**  
• Weight  
• Length1   
• Length2   
• Length3    
• Height    
• Width

**<font color='blue'>Dependent Variable:</font>**   
• Species

Note: The Fish market dataset used in this analysis is from kaggle from the link - https://www.kaggle.com/aungpyaeap/fish-market.

### Feature Engineering

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Load the dataset
df = pd.read_csv("Fish.csv")

In [3]:
# Random display 10 datapoints.
df.sample(10)

    Species  Weight  Length1  Length2  Length3   Height   Width
42    Roach   120.0     19.4     21.0     23.7   6.1146  3.2943
30    Bream   920.0     35.0     38.5     44.1  18.0369  6.3063
66   Parkki   140.0     19.0     20.7     23.2   8.5376  3.2944
61   Parkki    55.0     13.5     14.7     16.5   6.8475  2.3265
100   Perch   197.0     23.5     25.6     27.0   6.5610  4.2390
124   Perch  1000.0     39.8     43.0     45.2  11.9328  7.2772
153   Smelt     9.8     11.4     12.0     13.2   2.2044  1.1484
110   Perch   556.0     32.0     34.5     36.5  10.2565  6.3875
109   Perch   514.0     30.5     32.8     34.0  10.0300  6.0180
82    Perch   110.0     19.0     21.0     22.5   5.6925  3.5550

In [4]:
# View dimensions of dataset
df.shape

(159, 7)

In [5]:
# Description of the dataframe.
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [6]:
# Check the data type of each column
df.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

**Summary of variables**  
There are 7 variables in the dataset. All the variables are of continuous data type.  
These are given by Weight, Length1, Length2, Length3, Height and Width.  
Species is the target variable. It is categorical data type.

In [7]:
# Check missing values in variables

df.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

There are no missing values in the dataset.

In [8]:
# Define Features and Target variable.

X = df.drop(['Species'], axis=1)

y = df['Species']

In [9]:
# Feature scaling.

scaler = MinMaxScaler()
 
X_scaled = scaler.fit_transform(X.to_numpy())

X_scaled = pd.DataFrame(X_scaled, columns=['Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width'])

X_scaled.sample(10)

       Weight   Length1   Length2   Length3    Height     Width
158  0.012061  0.122330  0.120000  0.125000  0.069872  0.117219
49   0.097576  0.281553  0.272727  0.302365  0.301063  0.364175
154  0.007394  0.077670  0.069091  0.077703  0.021012  0.048771
126  0.606061  0.634951  0.638182  0.628378  0.631253  1.000000
77   0.060606  0.168932  0.174545  0.175676  0.202802  0.320535
80   0.051515  0.200000  0.203636  0.202703  0.197880  0.280390
40   0.000000  0.223301  0.220000  0.236486  0.275519  0.324763
2    0.206061  0.318447  0.329091  0.376689  0.618123  0.514279
138  0.343636  0.693204  0.683636  0.673986  0.351950  0.538791
64   0.072727  0.194175  0.192727  0.211149  0.386787  0.263659

In [10]:
# Split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [11]:
# Check the shape of X_train and X_test

X_train.shape, X_test.shape

((111, 6), (48, 6))

In [12]:
# Train Model
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier()

classifier.fit(X_train, y_train)

RandomForestClassifier()

In [13]:
# Evaluate Model

from sklearn.metrics import accuracy_score

y_pred = classifier.predict(X_test)

print("Accuracy Score:", accuracy_score(y_test, y_pred))

Accuracy Score: 0.7708333333333334

In [14]:
# Save model

import pickle

file_name = "model.pkl"
pickle.dump(classifier, open(file_name, "wb"))

In [15]:
# Load model

with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [16]:
# Custom prediction.
input_data = [0.4,0.2,0.3,0.5,0.9,0.1]

# Convert input array to pandas dataframe and predict.
input_df = pd.DataFrame([input_data], columns=["Weight", "Length1", "Length2", "Length3", "Height", "Width"])
result = model.predict(input_df)
print("Output:", result[0])

Output: Smelt

In [17]:
# Accuracy Score

accuracy_score(y_test, y_pred)

0.7708333333333334

In [18]:
# Classification_report
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       Bream       1.00      1.00      1.00        10
      Parkki       1.00      1.00      1.00         2
       Perch       0.70      0.80      0.74        20
        Pike       1.00      1.00      1.00         3
       Roach       0.50      0.29      0.36         7
       Smelt       0.75      1.00      0.86         3
   Whitefish       0.50      0.33      0.40         3

    accuracy                           0.77        48
   macro avg       0.78      0.77      0.77        48
weighted avg       0.75      0.77      0.75        48